@import "jquery.fancybox.css";
@import "reset.css";

/************************* Fonts *************************/
/* font-family: "Muller-Regular"; */
@font-face {
    font-family: "Muller-Regular";
    src: url("../fonts/Muller-Regular/MullerRegular.eot");
    src: url("../fonts/Muller-Regular/MullerRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-Regular/MullerRegular.woff") format("woff"),
    url("../fonts/Muller-Regular/MullerRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Muller-Bold"; */
@font-face {
    font-family: "Muller-Bold";
    src: url("../fonts/Muller-Bold/MullerBold.eot");
    src: url("../fonts/Muller-Bold/MullerBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-Bold/MullerBold.woff") format("woff"),
    url("../fonts/Muller-Bold/MullerBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Muller-ExtraBold"; */
@font-face {
    font-family: "Muller-ExtraBold";
    src: url("../fonts/Muller-ExtraBold/MullerExtraBold.eot");
    src: url("../fonts/Muller-ExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-ExtraBold/MullerExtraBold.woff") format("woff"),
    url("../fonts/Muller-ExtraBold/MullerExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Muller-Heavy"; */
@font-face {
    font-family: "Muller-Heavy";
    src: url("../fonts/Muller-Heavy/MullerHeavy.eot");
    src: url("../fonts/Muller-Heavy/MullerHeavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-Heavy/MullerHeavy.woff") format("woff"),
    url("../fonts/Muller-Heavy/MullerHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Muller-Light"; */
@font-face {
    font-family: "Muller-Light";
    src: url("../fonts/Muller-Light/MullerLight.eot");
    src: url("../fonts/Muller-Light/MullerLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-Light/MullerLight.woff") format("woff"),
    url("../fonts/Muller-Light/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "Muller-Medium"; */
@font-face {
    font-family: "Muller-Medium";
    src: url("../fonts/Muller-Medium/MullerMedium.eot");
    src: url("../fonts/Muller-Medium/MullerMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muller-Medium/MullerMedium.woff") format("woff"),
    url("../fonts/Muller-Medium/MullerMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/************************* Общие стили *************************/
html,
body {
    height: 100%;
    font-size: 16px;
    color: #333;
    font-family: RobotoRegular, serif;
    min-width: 1300px;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    outline: none;
}

img:focus {
    outline: none;
}

.slick-slide img {
    max-width: 100%;
}

a {
    outline: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.basic_width {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.wrapper {
    flex: 1 0 auto;
}

.clearfix_:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/************************* header *************************/
.header {
    background:
            linear-gradient(rgba(255,25,63,0.8), rgba(255,63,63,1)) 0 0 no-repeat,
            url("../images/header-bg.jpg") 0 0 no-repeat,
            url("../images/header-curve.png") 0 592px no-repeat,
            url("../images/forkLift-bg.png") 100% 75% no-repeat;
    background-size: 100% 592px, auto, auto, auto;
    padding-bottom: 39px;
}

.svg {
    position: absolute;
    width: 868px;
    height: 618px;
    top: -110px;
    right: -80px;
}

.svg-ie {
    top: -91px;
}

.header-top {
    border-bottom: 1px solid rgba(240,241,239,0.2);
    color: #fff;
}

.header-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: relative;
    z-index: 10;
}

.header-top__phone {
    margin-left: 32px;
    margin-top: 5px;
}

.header-top__phone-el {
    display: block;
    font-family: Muller-Bold, sans-serif;
    padding-left: 25px;
    margin-bottom: 8px;
    color: #fff;
}

.velcom, .mts {
    position: relative;
}

.velcom::before {
    position: absolute;
    content: '';
    background: url("../images/welcom.png") 50% 50% no-repeat;
    left: 0;
    top: 0;
    width: 18px;
    height: 14px;
}

.mts::before {
    position: absolute;
    content: '';
    background: url("../images/mts.png") 50% 50% no-repeat;
    width: 14px;
    height: 14px;
    left: 3px;
    top: -1px;
}

.header-top__phone-schedule {
    font-family: Muller-Regular, sans-serif;
    font-size: 0.875rem;
    text-align: center;
    margin-left: 5px;
    color: rgba(255,255,255,0.7);
}

.header-top__nav {
    font-size: 0;
    padding-left: 48px;
}

.header-top-nav__el {
    list-style: none;
    display: inline-block;
    margin-right: 48px;
    font-family: Muller-Regular, sans-serif;
    font-size: 1rem;
}

.header-top-nav__lnk {
    position: relative;
    cursor: pointer;
    display: table-cell;
    height: 120px;
    border-top: 4px solid rgba(255,255,255,0.4);
    vertical-align: middle;
    transition: 0.2s;
}

.header-top-nav__lnk:hover {
    border-top-color: rgba(255,255,255,1);;
}

.header-top-nav__el:last-of-type {
    margin-right: 0;
}

.header-top__presence {
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
    font-family: Muller-Bold, sans-serif;
    font-size: 0.875rem;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    transition: 0.2s;
}

.header-top__presence:hover {
    color: #ff193f;
    background-color: #fff;
}

.header-bottom {
    position: relative;
    color: #fff;
}

.header-bottom .basic_width{
    position: relative;
}

.header-bottom h1 {
    text-transform: uppercase;
    max-width: 657px;
    line-height: 42px;
    font-family: Muller-Bold, sans-serif;
    font-size: 2.125rem;
    margin-top: 56px;
    margin-bottom: 32px;
}

.header-bottom ul {
    margin-top: 8px;
    max-width: 630px;
}

.header-bottom li {
    font-family: Muller-Medium, sans-serif;
    font-size: 0.875rem;
    line-height: 19px;
    text-indent: 10px;
    position: relative;
}

.header-bottom li::before {
    position: absolute;
    content: '•';
    left: -10px;
}

.header-bottom strong {
    font-family: Muller-ExtraBold, sans-serif;
    font-size: 1.125rem;
    line-height: 19px;
}

.header-bottom span {
    color: #ffb2b2;
    font-family: Muller-Medium, sans-serif;
}

.header-bottom-form {
    padding: 38px 49px;
    color: #ff193f;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-bottom-form__title {
    font-family: Muller-Bold, sans-serif;
    font-size: 1.5rem;
    line-height: 28px;
    text-transform: uppercase;
    flex: 0 0 375px;
}

.header-bottom-form__phone {
    font-family: Muller-Regular, sans-serif;
    line-height: 24px;
    flex: 0 0 258px;
    border-bottom: 1px solid #ff193f;
    color: #ff193f;
    font-size: 1rem;
    margin-left: 27px;
    margin-top: 8px;
    padding: 0 10px;
}

.header-bottom-form__phone::-webkit-input-placeholder { /* WebKit browsers */
    color: #ff193f;
}
.header-bottom-form__phone:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ff193f;
}
.header-bottom-form__phone::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ff193f;
}
.header-bottom-form__phone:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ff193f;
}

.header-bottom-form__submit {
    background-image: linear-gradient( to top, rgb(255,25,63) 0%, rgb(255,63,63) 100%);
    box-shadow: 0 5px 20px 0 rgba(255, 25, 63, 0.6);
    text-transform: uppercase;
    font-family: Muller-Bold, sans-serif;
    height: 50px;
    line-height: 50px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1rem;
    margin-top: 8px;
}

.header-bottom-form__submit:hover {
    box-shadow: 0 0 20px 0 rgba(255, 25, 63, 0.6);
}

.manufacturer {
    margin-top: 57px;
    position: relative;
    z-index: 1;
}

.manufacturer img {
    opacity: 0.6;
    transition: 0.2s;
    cursor: pointer;
}

.manufacturer img:hover {
    opacity: 1;
}

.manufacturer__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.manufacturer__line:nth-of-type(2) {
    margin-bottom: 42px;
}

.manufacturer__line-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.manufacturer__line-center.first-line {
    margin-left: -37px;
}

.manufacturer__line-center.first-line img {
    margin-left: 49px;
    margin-right: 35px;
}

.manufacturer__line-center.first-line img:first-of-type {
    margin-right: 50px;
}

.manufacturer__line h2 {
    flex: 0 0 815px;
    font-size: 2.25rem;
    font-family: Muller-Bold, sans-serif;
    line-height: 43px;
    text-transform: uppercase;
    color: #ff193f;
    display: inline-block;
    text-align: center;
    margin-top: 16px;
}

.manufacturer__line-center.second-line {
    margin-top: 27px;
    margin-bottom: 36px;
}

.manufacturer__line-center.second-line img {
    margin-left: 83px;
    margin-right: 83px;
}

/************************* consultation *************************/
.consultation {
    display: flex;
    flex-flow: row wrap;
}

.consultation-item {
    flex: 0 0 33.333%;
    position: relative;
    padding-bottom: 15.23909616395166%;
    overflow: hidden;
}

.consultation-item__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.consultation-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    transition: 0.2s ease;
}

.consultation-item__overlay::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,25,63, 0.8), rgba(255,63,63, 0.8));
    opacity: 0;
    transition: 0.2s ease;
}

.consultation-item:hover .consultation-item__overlay {
    background-color: rgba(0,0,0, 0);
}

.consultation-item:hover .consultation-item__overlay::before {
    opacity: 1;
}

.consultation-item__title {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 30px;
    font-family: Muller-Bold, sans-serif;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.2s;
}

.consultation-item:hover .consultation-item__title {
    padding-bottom: 80px;
}

.consultation-item__btn {
    position: absolute;
    background-color: #fff;
    color: #ff193f;
    height: 50px;
    line-height: 54px;
    text-transform: uppercase;
    font-family: Muller-Bold, sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    display: inline-block;
    width: 320px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 21.37931034482759%;
    opacity: 0;
    z-index: -1;
    transition-delay: 0.2s;
    transition: opacity, box-shadow 0.2s ease-in;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}


.consultation-item__btn:hover {
    color: #ff193f;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.consultation-item:hover .consultation-item__btn {
    opacity: 1;
    z-index: 1;
}

@media all and (max-width: 1366px){
    .consultation-item__btn {
        bottom: 15%;
    }

    .consultation-item__title {
        font-size: 1.2rem;
        line-height: 24px;
    }

    .consultation-item:hover .consultation-item__title {
        padding-bottom: 70px;
    }
}

/************************* brands *************************/
.brands {
    background: linear-gradient(rgb(255,25,63), rgb(255,63,63)) 0 0 no-repeat,
                url('../images/supplierr-curve.png') 0 246px no-repeat;
    background-size: 100% 246px, auto;
    min-height: 360px;
}

.brands .basic_width {
    position: relative;
}

.brands-block {
    display: flex;
}

.brands-block img {
    margin-right: 30px;
}

.brands__title {
    padding-top: 77px;
    padding-bottom: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 36px;
    font-family: Muller-Bold, sans-serif;
}

.brands-form {
    background-color: #fff;
    padding: 35px 20px 23px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    max-width: 420px;
    position: absolute;
    right: 15px;
    top: 97px;
}

.brands-form__title {
    text-align: center;
    font-family: Muller-Bold, sans-serif;
    line-height: 22px;
    font-size: 1.25rem;
    margin-bottom: 30px;
    padding: 0 30px;
    color: #333;
}

.brands-form__subtitle {
    text-align: center;
    color: #808080;
    line-height: 18px;
    font-size: 0.875rem;
    font-family: Muller-Regular, sans-serif;
    margin-bottom: 32px;
}

.form-el-wrap {
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
    display: block;
    margin-bottom: 15px;
}

.form-el {
    width: 100%;
    height: 100%;
    line-height: 48px;
    color: #333;
    display: block;
    font-size: 1rem;
    font-family: Muller-Light, sans-serif;
    padding-top: 4px;
    background-color: transparent;
}

.form-el::-webkit-input-placeholder { /* WebKit browsers */
    color: #808080;
}
.form-el:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #808080;
}
.form-el::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #808080;
}
.form-el:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #808080;
}

.form__submit {
    display: block;
    width: 100%;
    text-transform: uppercase;
    background-image: linear-gradient(to top, rgb(255,25,63), rgb(255,63,63));
    box-shadow: 0 5px 20px 0 rgba(255, 25, 63, 0.6);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    height: 50px;
    line-height: 54px;
    font-family: Muller-Bold, sans-serif;
    border-radius: 50px;
    transition: 0.2s;
}

.form__submit:hover {
    box-shadow: 0 0 20px 0 rgba(255, 25, 63, 0.6);
    cursor: pointer;
}
/************************* shipping *************************/
.shipping {
    min-height: 275px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.shipping-title {
    font-family: Muller-Bold, sans-serif;
    font-size: 1.875rem;
    color: #ff193f;
    text-transform: uppercase;
    line-height: 36px;
    width: 380px;
    margin-left: 25px;
}

/************************* contacts *************************/
.map-wrap {
    position: relative;
}

#map{
    height: 800px;
}

.map-close {
    width: 210px;
    height: 50px;
    color: #fff;
    background-image: linear-gradient(rgb(255,25,63), rgb(255,63,63));
    position: absolute;
    top: 27px;
    right: 390px;
    line-height: 52px;
    text-transform: uppercase;
    text-align: center;
    font-family: Muller-Bold, sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(255, 25, 63, 0.6);
    transition: 0.2s;
    opacity: 0;
}

.map-close:hover {
    box-shadow: 0 0 20px 0 rgba(255, 25, 63, 0.6);
}

.overlay-half-blink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 420px;
    background: linear-gradient(rgba(255, 63, 63, 0.85), rgba(255, 44, 63, 0.85));
}

.overlay-half {
    position: absolute;
    padding-top: 35px;
    left: 0;
    top: 420px;
    width: 100%;
    height: 380px;
    background: linear-gradient(rgba(255, 44, 63, 0.85), rgba(255, 25, 63, 0.85));
}

.presence-form.form {
    top: 107px;
    left: 0;
    width: 100%;
    padding: 35px 34px;
}

.form {
    background-color: #fff;
    padding: 35px 20px 23px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.form-title {
    text-transform: uppercase;
    font-family: Muller-Bold, sans-serif;
    font-size: 1.5rem;
    line-height: 18px;
    color: #ff193f;
    text-align: center;
    margin-bottom: 35px;
}

.form-el-wrap.half {
    display: inline-block;
    width: 49%;
}

.form-el-wrap.half:nth-of-type(odd) {
    margin-right: 16px;
}

.contacts-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    align-items: center;
    padding-left: 81px;
    padding-top: 10px;
    padding-right: 79px;
}

.contacts-items, .contacts-items a {
    font-size: 0.875rem;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    font-family: Muller-Regular, sans-serif;
}

.contacts-items a {
    display: block;
}

.contact-item {
    position: relative;
    padding-left: 57px;
}

.contact-item.loc::before {
    position: absolute;
    content: '';
    left: -2px;
    top: -10px;
    background: url("../images/location-white.png");
    width: 40px;
    height: 52px;
}

.contact-item.phone::before {
    position: absolute;
    content: '';
    left: -19px;
    top: -20px;
    background: url("../images/phone.png");
    width: 74px;
    height: 66px;
}

.contact-item.phone {
    margin-left: -48px;
}

.contact-item.mail::before {
    position: absolute;
    content: '';
    left: -18px;
    top: -12px;
    background: url("../images/mail.png");
    width: 46px;
    height: 36px;
}

.overlay-half-blink__title {
    font-family: Muller-Light, sans-serif;
    font-size: 1.875rem;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 72px;
}

.overlay-half-blink__btn {
    height: 50px;
    text-align: center;
    line-height: 54px;
    text-transform: uppercase;
    padding-left: 30px;
    background-color: #fff;
    width: 272px;
    margin: 124px auto 0;
    border-radius: 50px;
    font-family: Muller-Bold, sans-serif;
    font-size: 0.875rem;
    color: #ff193f;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.overlay-half-blink__btn:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.overlay-half-blink__btn::before {
    position: absolute;
    content: '';
    background: url("../images/location.png");
    width: 21px;
    height: 27px;
    left: 30px;
    top: 11px;
}


/************************* footer *************************/
.footer {
    flex: 0 0 auto;
    padding-top: 202px;
    width: 100%;
    padding-bottom: 35px;
    font-family: Muller-Regular, sans-serif;
    font-size: 0.875rem;
    line-height: 17px;
    color: #333;
}

.footer-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin-left: -43px;
    margin-top: 5px;
    cursor: pointer;
}

.dev {
    padding-top: 5px;
    position: relative;
}

.dev a {
    display: flex;
    align-items: center;
    color: #333;
}

.dev img {
    margin-left: 15px;
}

.details strong {
    font-family: Muller-Medium, sans-serif;
    text-transform: uppercase;
}

/************************* sticky header *************************/
#header-top-scroll {
    transition: 0.2s;
}

.header-top.scroll {
    position: fixed;
    top: -120px;
    left: 0;
    right: 0;
    z-index: 8000;
    border-bottom: 0;
    background: #fff;
    color: #ff193f;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    animation: navopen 0.5s linear;
    transition: top 0.5s;
}

.header-top.scroll.show{
    top: 0;
}

.header-top.scroll .header-top__phone-el {
    color: #ff193f;
}

.header-top.scroll .header-top-nav__lnk {
    border-top: 4px solid rgba(255,25,63,0.4);
}

.header-top.scroll .header-top-nav__lnk:hover {
    border-top: 4px solid rgba(255,25,63,1);
}

.header-top.scroll .header-top__presence {
    color: #ff193f;
    background-color: #fff;
    border-color: #ff193f;
    position: relative;
}

.header-top.scroll .header-top__presence:hover {
    color: #fff;
    background-color: #ff193f;
}

.header-top.scroll .header-top__phone-schedule  {
    color: #ff193f;
}

.header-top__logo {
    cursor: pointer;
}

.header-top__logo img:last-of-type {
    display: none;
}

.header-top.scroll .header-top__logo img:last-of-type {
    display: inline-block;
}

.header-top.scroll .header-top__logo img:first-of-type {
    display: none;
}

.header-top.scroll .velcom::before {
    background: url('../images/welcom-coral.png') 50% 50% no-repeat;
}

.header-top.scroll .mts::before {
    background: url('../images/mts-coral.png') 50% 50% no-repeat;
}

/************************* popup *************************/
.popup {
    width: 560px;
    display: none;
}

.popup.form {
    padding: 35px 34px;
}

.fancybox-close {
    background: url("../images/close.png");
    width: 17px;
    height: 17px;
    top: 0;
    right: -30px;
}

#check-availability {
    background: url('../images/engine.svg') 113% -9% no-repeat #fff;
    background-size: 275px auto;
}

#check-availability hr {
    color: #e6e6e6; /*для IE */
    background-color:#e6e6e6; /*для Firefox, Opera, Safari*/
    border:0 none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    margin: 25px 0;
}

#consultation {
    background: url('../images/phone-call.svg') 102% -15% no-repeat #fff;
    background-size: 168px auto;
}

.popup-success {
    text-align: center;
}

.popup-success__close.form__submit {
    width: 173px;
    margin: 0 auto;
}

.popup-success__msg {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: Muller-Bold, sans-serif;
    color: #ff193f;
    text-transform: uppercase;
    font-size: 1.25rem;
}

.popup-success__submsg {
    margin-bottom: 20px;
    font-family: Muller-Medium, sans-serif;
    font-size: 0.875rem;
    line-height: 17px;
    color: #ff193f;
    text-transform: uppercase;
}

.popup-success__schedule {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 0.75rem;
}